* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: violet;
}

.App {
    display: block;
    margin: auto;
    margin-top: 5%;
    max-width: 400px;
    height: 500px;
    text-align: center;
    background-color: slategrey;
    border-radius: 5px;
}

.form-container h1 {
    padding-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.form-container input {
    width: 250px;
    height: 25px;
    outline: none;
    border: none;
    background-color: rgb(62, 70, 80);
    color: white;
}

.form-container button {
    height: 25px;
    padding: 2px;
    background-color: black;
    color: white;
    border: none;
}

.form-container button:hover {
    background-color: rgb(142, 161, 181);
    color: white;
    transition: 0.5s;
}
